In [44]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [45]:
train = pd.read_excel('C:\\Users\\Admin\\Desktop\DS\\Project1 - airline\\Data_Train.xlsx')
test = pd.read_excel('C:\\Users\\Admin\\Desktop\\DS\\Project1 - airline\\Test_set.xlsx')

In [46]:
data = train.append(test)

In [47]:
data.dtypes

Additional_Info     object
Airline             object
Arrival_Time        object
Date_of_Journey     object
Dep_Time            object
Destination         object
Duration            object
Price              float64
Route               object
Source              object
Total_Stops         object
dtype: object

In [48]:
data.head()

,Additional_Info,Airline,Arrival_Time,Date_of_Journey,Dep_Time,Destination,Duration,Price,Route,Source,Total_Stops
0,No info,IndiGo,01:10 22 Mar,24/03/2019,22:20,New Delhi,2h 50m,3897.0,BLR → DEL,Banglore,non-stop
1,No info,Air India,13:15,1/05/2019,05:50,Banglore,7h 25m,7662.0,CCU → IXR → BBI → BLR,Kolkata,2 stops
2,No info,Jet Airways,04:25 10 Jun,9/06/2019,09:25,Cochin,19h,13882.0,DEL → LKO → BOM → COK,Delhi,2 stops
3,No info,IndiGo,23:30,12/05/2019,18:05,Banglore,5h 25m,6218.0,CCU → NAG → BLR,Kolkata,1 stop
4,No info,IndiGo,21:35,01/03/2019,16:50,New Delhi,4h 45m,13302.0,BLR → NAG → DEL,Banglore,1 stop

In [49]:
data['Date'] = data['Date_of_Journey'].str.split('/').str[0]
data['Month'] = data['Date_of_Journey'].str.split('/').str[1]
data['Year'] = data['Date_of_Journey'].str.split('/').str[2]

In [50]:
data['Date']= data['Date'].astype(int)
data['Month'] = data['Month'].astype(int)
data['Year'] = data['Year'].astype(int)

In [51]:
data.head()

,Additional_Info,Airline,Arrival_Time,Date_of_Journey,Dep_Time,Destination,Duration,Price,Route,Source,Total_Stops,Date,Month,Year
0,No info,IndiGo,01:10 22 Mar,24/03/2019,22:20,New Delhi,2h 50m,3897.0,BLR → DEL,Banglore,non-stop,24,3,2019
1,No info,Air India,13:15,1/05/2019,05:50,Banglore,7h 25m,7662.0,CCU → IXR → BBI → BLR,Kolkata,2 stops,1,5,2019
2,No info,Jet Airways,04:25 10 Jun,9/06/2019,09:25,Cochin,19h,13882.0,DEL → LKO → BOM → COK,Delhi,2 stops,9,6,2019
3,No info,IndiGo,23:30,12/05/2019,18:05,Banglore,5h 25m,6218.0,CCU → NAG → BLR,Kolkata,1 stop,12,5,2019
4,No info,IndiGo,21:35,01/03/2019,16:50,New Delhi,4h 45m,13302.0,BLR → NAG → DEL,Banglore,1 stop,1,3,2019

In [52]:
data = data.drop(['Date_of_Journey'],axis = 1)

In [53]:
data.head()

,Additional_Info,Airline,Arrival_Time,Dep_Time,Destination,Duration,Price,Route,Source,Total_Stops,Date,Month,Year
0,No info,IndiGo,01:10 22 Mar,22:20,New Delhi,2h 50m,3897.0,BLR → DEL,Banglore,non-stop,24,3,2019
1,No info,Air India,13:15,05:50,Banglore,7h 25m,7662.0,CCU → IXR → BBI → BLR,Kolkata,2 stops,1,5,2019
2,No info,Jet Airways,04:25 10 Jun,09:25,Cochin,19h,13882.0,DEL → LKO → BOM → COK,Delhi,2 stops,9,6,2019
3,No info,IndiGo,23:30,18:05,Banglore,5h 25m,6218.0,CCU → NAG → BLR,Kolkata,1 stop,12,5,2019
4,No info,IndiGo,21:35,16:50,New Delhi,4h 45m,13302.0,BLR → NAG → DEL,Banglore,1 stop,1,3,2019

In [54]:
data['Arrival_Time'] = data['Arrival_Time'].str.split(' ').str[0]

In [55]:
data.head()

,Additional_Info,Airline,Arrival_Time,Dep_Time,Destination,Duration,Price,Route,Source,Total_Stops,Date,Month,Year
0,No info,IndiGo,01:10,22:20,New Delhi,2h 50m,3897.0,BLR → DEL,Banglore,non-stop,24,3,2019
1,No info,Air India,13:15,05:50,Banglore,7h 25m,7662.0,CCU → IXR → BBI → BLR,Kolkata,2 stops,1,5,2019
2,No info,Jet Airways,04:25,09:25,Cochin,19h,13882.0,DEL → LKO → BOM → COK,Delhi,2 stops,9,6,2019
3,No info,IndiGo,23:30,18:05,Banglore,5h 25m,6218.0,CCU → NAG → BLR,Kolkata,1 stop,12,5,2019
4,No info,IndiGo,21:35,16:50,New Delhi,4h 45m,13302.0,BLR → NAG → DEL,Banglore,1 stop,1,3,2019

In [56]:
data['Total_Stops'] = data['Total_Stops'].fillna('1 stop')

In [57]:
data['Total_Stops'] = data['Total_Stops'].replace('non-stop','0 stop')

In [58]:
data['Stops'] = data['Total_Stops'].str.split(' ').str[0]

In [59]:
data['Stops'] = data['Stops'].astype(int)

In [60]:
data = data.drop(['Total_Stops'],axis = 1)

In [61]:
data.head()

,Additional_Info,Airline,Arrival_Time,Dep_Time,Destination,Duration,Price,Route,Source,Date,Month,Year,Stops
0,No info,IndiGo,01:10,22:20,New Delhi,2h 50m,3897.0,BLR → DEL,Banglore,24,3,2019,0
1,No info,Air India,13:15,05:50,Banglore,7h 25m,7662.0,CCU → IXR → BBI → BLR,Kolkata,1,5,2019,2
2,No info,Jet Airways,04:25,09:25,Cochin,19h,13882.0,DEL → LKO → BOM → COK,Delhi,9,6,2019,2
3,No info,IndiGo,23:30,18:05,Banglore,5h 25m,6218.0,CCU → NAG → BLR,Kolkata,12,5,2019,1
4,No info,IndiGo,21:35,16:50,New Delhi,4h 45m,13302.0,BLR → NAG → DEL,Banglore,1,3,2019,1

In [62]:
data['Arrival_Hour'] = data['Arrival_Time'].str.split(':').str[0]
data['Arrival_Minute'] = data['Arrival_Time'].str.split(':').str[1]

In [63]:
data['Arrival_Hour'] = data['Arrival_Hour'].astype(int)
data['Arrival_Minute'] = data['Arrival_Minute'].astype(int)

In [64]:
data = data.drop(['Arrival_Time'],axis = 1)

In [65]:
data.head()

,Additional_Info,Airline,Dep_Time,Destination,Duration,Price,Route,Source,Date,Month,Year,Stops,Arrival_Hour,Arrival_Minute
0,No info,IndiGo,22:20,New Delhi,2h 50m,3897.0,BLR → DEL,Banglore,24,3,2019,0,1,10
1,No info,Air India,05:50,Banglore,7h 25m,7662.0,CCU → IXR → BBI → BLR,Kolkata,1,5,2019,2,13,15
2,No info,Jet Airways,09:25,Cochin,19h,13882.0,DEL → LKO → BOM → COK,Delhi,9,6,2019,2,4,25
3,No info,IndiGo,18:05,Banglore,5h 25m,6218.0,CCU → NAG → BLR,Kolkata,12,5,2019,1,23,30
4,No info,IndiGo,16:50,New Delhi,4h 45m,13302.0,BLR → NAG → DEL,Banglore,1,3,2019,1,21,35

In [66]:
data['Dep_Hour'] = data['Dep_Time'].str.split(':').str[0]
data['Dep_Minute'] = data['Dep_Time'].str.split(':').str[1]

In [67]:
data['Dep_Hour'] = data['Dep_Hour'].astype(int)
data['Dep_Minute'] = data['Dep_Minute'].astype(int)

In [68]:
data = data.drop(['Dep_Time'],axis = 1)

In [69]:
data.head()

,Additional_Info,Airline,Destination,Duration,Price,Route,Source,Date,Month,Year,Stops,Arrival_Hour,Arrival_Minute,Dep_Hour,Dep_Minute
0,No info,IndiGo,New Delhi,2h 50m,3897.0,BLR → DEL,Banglore,24,3,2019,0,1,10,22,20
1,No info,Air India,Banglore,7h 25m,7662.0,CCU → IXR → BBI → BLR,Kolkata,1,5,2019,2,13,15,5,50
2,No info,Jet Airways,Cochin,19h,13882.0,DEL → LKO → BOM → COK,Delhi,9,6,2019,2,4,25,9,25
3,No info,IndiGo,Banglore,5h 25m,6218.0,CCU → NAG → BLR,Kolkata,12,5,2019,1,23,30,18,5
4,No info,IndiGo,New Delhi,4h 45m,13302.0,BLR → NAG → DEL,Banglore,1,3,2019,1,21,35,16,50

In [70]:
data.isnull().sum()

Additional_Info       0
Airline               0
Destination           0
Duration              0
Price              2671
Route                 1
Source                0
Date                  0
Month                 0
Year                  0
Stops                 0
Arrival_Hour          0
Arrival_Minute        0
Dep_Hour              0
Dep_Minute            0
dtype: int64

In [71]:
a = data['Price'].mean()

In [72]:
data['Price'].fillna(a,inplace = True)

In [73]:
data.isnull().sum()

Additional_Info    0
Airline            0
Destination        0
Duration           0
Price              0
Route              1
Source             0
Date               0
Month              0
Year               0
Stops              0
Arrival_Hour       0
Arrival_Minute     0
Dep_Hour           0
Dep_Minute         0
dtype: int64

In [74]:
data = data.drop(['Route'],axis = 1)
data = data.drop(['Additional_Info'],axis = 1)

In [75]:
data.head()

,Airline,Destination,Duration,Price,Source,Date,Month,Year,Stops,Arrival_Hour,Arrival_Minute,Dep_Hour,Dep_Minute
0,IndiGo,New Delhi,2h 50m,3897.0,Banglore,24,3,2019,0,1,10,22,20
1,Air India,Banglore,7h 25m,7662.0,Kolkata,1,5,2019,2,13,15,5,50
2,Jet Airways,Cochin,19h,13882.0,Delhi,9,6,2019,2,4,25,9,25
3,IndiGo,Banglore,5h 25m,6218.0,Kolkata,12,5,2019,1,23,30,18,5
4,IndiGo,New Delhi,4h 45m,13302.0,Banglore,1,3,2019,1,21,35,16,50

In [76]:
data.Airline = pd.get_dummies(data.Airline)
data.Destination = pd.get_dummies(data.Destination)
data.Duration = pd.get_dummies(data.Duration)
data.Source = pd.get_dummies(data.Source)

In [77]:
data.head()

,Airline,Destination,Duration,Price,Source,Date,Month,Year,Stops,Arrival_Hour,Arrival_Minute,Dep_Hour,Dep_Minute
0,0,0,0,3897.0,1,24,3,2019,0,1,10,22,20
1,0,1,0,7662.0,0,1,5,2019,2,13,15,5,50
2,0,0,0,13882.0,0,9,6,2019,2,4,25,9,25
3,0,1,0,6218.0,0,12,5,2019,1,23,30,18,5
4,0,0,0,13302.0,1,1,3,2019,1,21,35,16,50

In [78]:
data.shape

(13354, 13)

In [79]:
train_data = data[0:10683]
test_data = data[10683:]

In [80]:
test_data= data.drop('Price',axis = 1)

In [81]:
data.shape

(13354, 13)

In [82]:
x = train_data.drop('Price',axis = 1)

In [83]:
x.head()

,Airline,Destination,Duration,Source,Date,Month,Year,Stops,Arrival_Hour,Arrival_Minute,Dep_Hour,Dep_Minute
0,0,0,0,1,24,3,2019,0,1,10,22,20
1,0,1,0,0,1,5,2019,2,13,15,5,50
2,0,0,0,0,9,6,2019,2,4,25,9,25
3,0,1,0,0,12,5,2019,1,23,30,18,5
4,0,0,0,1,1,3,2019,1,21,35,16,50

In [84]:
y = train_data.Price

In [85]:
y.head()

0     3897.0
1     7662.0
2    13882.0
3     6218.0
4    13302.0
Name: Price, dtype: float64

In [86]:
from sklearn.model_selection import train_test_split

In [88]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 20,random_state = 20)

In [89]:
from sklearn.linear_model import LinearRegression

In [90]:
model = LinearRegression()

In [91]:
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [92]:
predict = model.predict(x_test)

In [93]:
predict

array([ 5125.03835182,  9533.00808714, 10205.4062051 ,  8633.4024533 ,
       13859.98409668,  6724.02924772, 11025.83079425, 12406.19182872,
        3966.57745626,  5911.05982701,  6358.89073524,  9659.30619444,
       11055.17672878,  9652.90931692, 11168.36175832,  7787.39418503,
       10447.50115995, 13368.46643168,  6621.76004492,  4883.74309168])

In [94]:
from sklearn.metrics import r2_score

In [95]:
r2_score(predict,y_test)

-1.5205713560198482

In [102]:
from xgboost import XGBRegressor

In [103]:
model1 = XGBRegressor()

In [104]:
model1.fit(x_train,y_train)

[21:43:51] WARNING: src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [105]:
predict1 = model1.predict(x_test)

In [106]:
predict1

array([ 5600.1997, 10339.362 , 10318.875 , 10817.444 , 10334.347 ,
        5399.775 , 10747.473 , 20792.422 ,  3646.9426,  5464.072 ,
        5038.6367,  8690.442 , 10524.44  ,  9622.165 ,  8019.9067,
        7900.039 ,  8470.254 , 13535.441 ,  4501.908 ,  4791.3247],
      dtype=float32)

In [107]:
from sklearn.metrics import r2_score

In [108]:
r2_score(predict1,y_test)

0.6285861905291967